<html>
  <head>
    <title>DCIY</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <header>
      <h1 class="site-title"><a href="/">DCIY</a></h1>
    </header>

    <%= yield %>

    <footer>
      <p>Made with <a href="http://camping.io">Camping</a>.</p>
    </footer>
  </body>
</html>
