<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DCIY</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>

    <header>
      <h1 class="site-title"><a href="/">DCIY</a></h1>
      <nav>
        <ul>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/projects/new">New Project</a></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <div class="debug">
      @input: <%= @input.inspect %>
    </div>

    <footer>
      <p>Made with <a href="http://camping.io">Camping</a>.</p>
    </footer>

  </body>
</html>
