<h1>New Project</h1>

<form action="/projects/new" method="post">
  <input type="text" name="owner" id="owner" />
  <span class="slash">/</span>
  <input type="text" name="repo" id="repo" />
  <input type="submit" />
</form>
