<div class="page-header">
  <div class="page-title">
    <h1>Manage Projects</h1>
  </div>
</div>


<ul>
  <%= render @projects %>
</ul>


<%= link_to 'New Project', new_project_path, class: "button" %>
