// Place all the styles related to the builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.build-status-queued {
  color: #888;
}

.build-status-pending {
  color: #f90;
}

.build-status-succeeded {
  color: #090;
}

.build-status-failed {
  color: #911;
}
