@import "variables";

.build-status-queued {
  color: $dciy-grey;
}

.build-status-pending {
  color: $dciy-orange;
}

.build-status-succeeded {
  color: $dciy-green;
}

.build-status-failed {
  color: $dciy-red;
}

.build-status-mia {
  color: lighten($dciy-grey, 10%);
}

.build {
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(#000, .05);
  clear: both;
  padding: 10px;
  @include gradient(#fff, #fafafa);
  & + & {
    margin-top: 10px;
  }
}

.build-actions {
  float: right;
}

.build-output {
  overflow-y: scroll;
  height: 400px;
  width: 758px;
  border-radius: 3px;
  background-color: #444;
  color: #eee;
}

.build-output::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
  background: #888;
  box-shadow: inset 0 1px 5px rgba(0,0,0,.5);
  border-radius: 0 3px 3px 0;
}
.build-output::-webkit-scrollbar-thumb {
  border: 1px solid #777;
  border-radius: 0 3px 3px 0;
  background-color: rgba(255,255,255,.5);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.1);
  background: -webkit-linear-gradient(#eee, #ddd);
}
