@import "variables";

.button {
  @include gradient(#f8f8f8, #f4f4f4);
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(#000, .05), inset 0 1px 0 #fff;
  color: #666;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 10px;
  text-shadow: 0 1px 0 #fff;
  &.small {
    border-radius: 3px;
    font-size: 11px;
    line-height: 1.4em;
    padding: 2px 5px;
  }

  &.button-danger {
    @include gradient(#E9434E, #DD3F4A);
    border: 1px solid #BE363F;
    box-shadow: 0 1px 3px rgba(#000, .05), inset 0 1px 0 #FF4955;
    color: #FFFAFA;
    text-shadow: 0 -1px 0 #BE363F;
  }

  &.button-primary {
    @include gradient(#69C580, #4EAD66);
    border: 1px solid #419155;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), inset 0 1px 0 #68D583;
    color: #FFFAFA;
    text-shadow: 0 -1px 0 #419155;
  }
}
