@import "variables";

.app {
  display: table;
  margin: 30px auto;
  width: 1000px;
}

.primary-pane,
.secondary-pane {
  display: table-cell;
  padding: 20px;
  vertical-align: top;
}

.primary-pane {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(#000, .05);
}

.secondary-pane {
  padding-left: 10px;
  width: 200px;
}

.page-header {
  margin-bottom: 10px;
  overflow: hidden;
  .page-title {
    h1 {
      display: inline-block;
      font-size: 21px;
      font-weight: 300;
      line-height: 32px;
      padding-right: 5px;
      vertical-align: middle;
      span {
        font-weight: bold;
      }
    }
  }
  .page-actions {
    float: right;
  }
}

.app-github-repo {
  color: #999;
  font-size: 13px;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #ddd;
  box-shadow: inset 0 1px 0 #fff;
  padding: 15px 0 0 10px;
  margin-top: 5px;
  margin-left: -10px;
  a {
    color: #666;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
  }
}
