@import "variables";

.app {
  display: table;
  margin: 30px auto;
  width: 1000px;
}

.primary-pane,
.secondary-pane {
  display: table-cell;
  padding: 20px;
  vertical-align: top;
}

.primary-pane {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(#000, .05);
}

.secondary-pane {
  width: 200px;
}

.page-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 10px;
  .page-actions {
    float: right;
  }
}
