@import "variables";

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  line-height: 1em;
  color: #444;
  background: #eee;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  line-height: 1em;
}

a {
  color: #3782cd;
  text-decoration: none;
}

li {
  list-style: none;
}

.app-name {
  color: #bbb;
  font-size: 38px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -1px;
  text-shadow: 0 1px 0 #fff;
}
