@import "variables";

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin dciy-type {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: #444;
}

html, body {
  @include dciy-type;
  font-size: 16px;
  line-height: 1em;
  background: #eee;
}

.field {
  input {
    @include dciy-type;
    font-size: $form-field-font-size;
  }

  label {
    font-weight: bold;
  }

  .description {
    font-size: $form-field-font-size;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  line-height: 1em;
}

a {
  color: #3782cd;
  text-decoration: none;
}

li {
  list-style: none;
}

.app-name {
  color: #bbb;
  font-size: 38px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -1px;
  text-shadow: 0 1px 0 #fff;
}

dl, ul, ol {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
  float: left;
  text-align: right;
  width: $description-title-width;
}

dd {
  margin-left: ($description-title-width + 0.5em);
  margin-bottom: 0.35em;
}
