@import "variables";

.project-filter {
  .project {
    margin-top: 10px;
    a {
      background: #f8f8f8;
      border: 1px solid #e2e2e2;
      border-left: none;
      border-radius: 0 5px 5px 0;
      box-shadow: 1px 1px 3px rgba(#000, .05);
      display: block;
      margin-left: -10px;
      padding: 10px;
      padding-left: 10px;
      &:hover {
        background: #fff;
      }
      &.selected {
        background: #fff;
        margin-left: -11px;
        padding-left: 11px;
      }
    }
  }
}

.new-project {
  padding: 10px 0;
}
