<!DOCTYPE html>
<html>
<head>
  <title>DCIY</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,900,400italic,900italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
